$green: green;

//colors

//black
$black_900: #1E1E1E;
$black_800: #262626;
$black_700: #2F2F2F;
$black_600: #4D4D4D;

$black_800_opacity: #26262680;

//red
$red: #FA7272;
$red_opacity: #fa727269;


$gradient-bg: linear-gradient(90deg, #3C3C3C 0%, #444444 51.04%, #333333 100%);

//sizes
$block-border-radius: 12px;