//colors
$black_900: #1E1E1E;
$black_800: #262626;
$black_700: #2F2F2F;
$black_600: #4D4D4D;

$red_300: #FA7272;

$gradient-bg: linear-gradient(90deg, #3C3C3C 0%, #444444 51.04%, #333333 100%);

//sizes
$block-border-radius: 12px;
